.chestButton {
    border-radius: 40%;
    border-radius: 40%;
    margin: 2em 0 4em 48em;
    cursor: pointer;
}

.ChestHeader {
    font-size: 3em;
    font-family: cursive;
    font-size: 3em;
    font-family: cursive;
    font-family: cursive;
    text-align: center;
    font-family: 'Pirata One', cursive;
    margin-bottom: 1em;
}

.cp {
    font-weight: 900;
    font-style: italic;   
    text-align: center;
    font-family: 'Pirata One', cursive;
    font-size: 18px;
    margin-bottom: 1em;
}

.chest__name {
    text-align: center;
    font-family: 'Pirata One', cursive;
    margin: 2em;
    margin-bottom: 1em;
    margin-top: 2em;
}

.chestDiv {
    background-color: rgb(252, 249, 249);
}