.bundleButton {
    border-radius: 40%;
}

.bundleHeader {
    font-size: 3em;
}

.createBundleButton {
    border-radius: 40%;
}

.without::-webkit-datetime-edit-ampm-field {
    display: none;
}

.without[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.cp {
    font-weight: 900;
}
 
.without[type=number]::-webkit-inner-spin-button,
.without[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin: 0; 
}

.hero {
    font-family: cursive;
    font-size: 3em;
}

.backButton:hover {
    color: goldenrod;
}

.chestButton:hover {
    color: goldenrod;
}

.armButton:hover {
    color: goldenrod;
}

.button:hover {
    color: goldenrod;
    border-radius: 40%;
}

.legButton:hover {
    color: goldenrod;
}

.bundleButton:hover {
    color: goldenrod;
}

.deleteBundle:hover {
    color: goldenrod;
}

.editBundleName:hover {
    color: goldenrod;
}

.createBundleButton:hover {
    color: goldenrod;
}

.deleteBundleModal {
    border-radius: 40%;
    color: red;
}

.createBundleButton {
    border-radius: 40%;
}

.timeInput {
    width: 3.5em;
}


.editBundleName {
    border-radius: 40%;
}

.deleteBundle {
    border-radius: 40%;
}