.legButton {
    border-radius: 40%;
    margin: 2em 0 4em 48em;
    cursor: pointer;
}

.legHeader {
    font-size: 3em;
    font-family: cursive;
    text-align: center;
    font-family: 'Pirata One', cursive;
    margin-bottom: 1em;
}

.leg {
    font-weight: 900;
    font-style: italic;
    text-align: center;
    font-size: 25px;
    font-family: 'Pirata One', cursive;
    margin-bottom: 1em;
}

.cloown {
    text-align: center;
    font-family: 'Pirata One', cursive;
    font-size: 18px;
    margin-bottom: 1em;
    margin: 2em;
}

.brown {
    text-align: center;
    font-family: 'Pirata One', cursive;
}

.legDivs {
    background-color: rgb(252, 249, 249);
}

.legButton {
    transition: all .2s ease-in-out;
}

.legButton:hover {
    transform: scale(1.2);
}

.legButton {
    margin-left: 53em;
}