.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    margin: 2em 0 4em 1.5em;
}
  
.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    font-family: cursive;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
  
.navbar__item:hover {
    transform: scale(1.3);
}

.active {
    background-color: rgb(211, 200, 200);
    border-radius: 100px;
    border-radius: 100%;
    width: 50%;
}

.active:hover {
    background-color: rgb(196, 188, 168);
    border-radius: 100%;
    width: 50%;
}

.navbar__link {
    color: black;
    margin-right: 5px;
    text-align: center;
}

.navbar:hover {
    color: goldenrod;
}

.navLogo {
    width: 40px;
    margin-top: 5px;
    margin-right: 5px;
}

