.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}
  
.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    font-family: cursive;
}
  


.active {
    background-color: rgb(165, 152, 152);
    border-radius: 100px;
    border-radius: 100%;
}

.active:hover {
    background-color: goldenrod;
    border-radius: 100%;
}

.navbar__link {
    color: black;
}

.navbar:hover {
    color: goldenrod;
}

